/*body {*/
/*background-color: blanchedalmond;*/
/*}*/
/*.space{*/
/*padding: 30px;*/
/*}*/
/*.guest{*/
/*color: maroon;*/
/*}*/
/*.grey{*/
/*color: #33363a;*/
/*}*/
/*.resume{*/
/*padding: 20px;*/
/*}*/
/*.image {*/
/*padding: 10px;*/
/*width: 100%;*/
/*max-width: 250px;*/
/*height: auto;*/
/*}*/

.space {
  margin: 20px;
  border: 1px solid lightgrey;
  background-color: honeydew;
}
.title {
  color: darkblue;
}

body {
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times,
    "Times New Roman", serif;
  background-color: #ffffff;
  margin: 0;
}
/* Container */
.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}
header {
  width: 100%;
  height: 8%;
  background-color: #5d5e5d;
  border-bottom: 1px solid #353635;
}
.logo1 {
  color: #fff;
  font-weight: bold;
  margin-left: auto;
  letter-spacing: 4px;
  margin-right: auto;
  text-align: center;
  padding-top: 15px;
  line-height: 2em;
  font-size: 22px;
}
.hero_header {
  color: #ffffff;
  text-align: center;
  margin: 0;
  letter-spacing: 4px;
}

.text_column {
  width: 90%;
  text-align: left;
  font-weight: lighter;
  line-height: 25px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  color: #a3a3a3;
}
.gallery1 {
  clear: both;
  display: inline-block;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1%;
  /* [disabled]min-width: 400px;
*/
  padding-bottom: 35px;
  padding-top: 0px;
  margin-top: -5px;
  margin-bottom: 0px;
}
.thumbnail1 {
  width: 25%;
  text-align: center;
  float: left;
  margin-top: 35px;
  background-color: #f8f8f8;
  padding-bottom: 20px;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 3px;
  border-bottom: 4px solid #6dc7d0;
}
.poster {
  padding-top: 0px;
}
.tshirt {
  padding-top: 25px;
  padding-bottom: 45px;
}

.card {
  height: auto;
  width: 275px;
  position: relative;
  /* display: -webkit-flex; */
  /* display: flex; */
  -webkit-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.thumb {
  background-color: white;
  border: none;
}

.left {
  text-align: left;
}
.meeting {
  height: auto;
  max-width: 90%;
  border-bottom: 5px solid #5d5e5d;
}
.responsive {
  height: auto;
  max-width: 100%;
}

.gallery .thumbnail h4 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #52bad5;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
.gallery .thumbnail p {
  margin: 0;
  color: #b3b3b3;
  text-align: left;
  padding-left: 20px;
}
.gallery .thumbnail .tag {
  color: #5d5e5d;
  padding-bottom: 4px;
  padding-top: 4px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 320px) {
  .logo1 {
    width: 100%;
    text-align: center;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .logo1 {
    width: 100%;
    text-align: center;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .text_column {
    width: 100%;
    text-align: left;
    padding: 0;
  }
  .thumbnail1 {
    width: 100%;
    text-align: center;
  }
  .column {
    width: 100%;
    margin-top: 0px;
  }
  .thumbnail1 {
    width: 100%;
  }
  .text_column {
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
  }
  .column {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .intro .column p {
    width: 90%;
    text-align: center;
    padding-left: 0px;
  }
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
  .text_column {
    width: 100%;
  }

  .thumbnail1 {
    width: 48%;
  }

  .text_column {
    width: 90%;
    margin: 0;
    padding: 20px;
  }

  .intro .column p {
    width: 80%;
  }
}
