body {
  background-color: blanchedalmond;
}

.image {
  padding: 10px;
  width: 100%;
  max-width: 250px;
  height: auto;
}
.marpad {
  padding: 20px;
}
.contactimage{
  padding: 10px;
  height: auto;
  max-width: 50%;
  text-align: center;
}
