@-ms-viewport {
  width: device-width;
}
a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Poppins", sans-serif;
}
.bg {
  background-color: blanchedalmond;
}
.App-logo {
  padding-left: 60px;
  padding-top: 40px;
}
.responsive {
  width: 100%;
  max-width: 300px;
  height: auto;
}
.App-bg {
  margin-top: 20px;
  width: 100%;
  height: auto;
}
.thumbnail {
  position: relative;
  display: inline-block;
}
.caption {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 60px;
}
.navbar {
  flex-direction: row;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
}
ul.topnav li {
  float: left;
}
ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}
ul.topnav li a.active {
  color: cadetblue;
}
ul.topnav li a:hover:not(.active) {
  color: cadetblue;
}
ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}
.info1 {
  padding: 40px;
  font-size: 19px;
}
.info2 {
  padding: 40px;
  font-size: 19px;
}
.text {
  color: maroon;
  display: inline-block;
}
.test:after {
  display: inline-block;
}
.quote {
  padding: 80px;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
}
.link {
  text-decoration: none;
}
a {
  text-decoration: none;
}
.footer {
  background-color: #33363a;
  height: 300px;
  color: darkgray;
  padding-top: 50px;
}
.sm1 {
  max-width: 50px;
}
.sm2 {
  max-width: 37px;
}
.sm3 {
  margin: 15px;
  max-width: 150px;
}
.Nishma {
  margin-top: 40px;
  color: darkgrey;
  font-size: 10px;
}

/*@keyframes App-logo-spin {*/
/*from {*/
/*transform: rotate(0deg);*/
/*}*/
/*to {*/
/*transform: rotate(360deg);*/
/*}*/
/*}*/
